* {margin: 0; padding: 0;} 
body {
background: black;
}
html,body {
height: 100%; 
}
.main { 
background: black; 
min-height: 100%; 
width: 1000px;
margin: auto;
}

.lang-bar { 
width: 1000px;
height: 15px;
}

.lang-content { 
margin: auto;
height: 15px;
float: right;
}

.header { 
margin: auto auto 10px auto;
background: black; 
width: 1000px;
height: 60px;
}

.col1 { 
position: relative;
float:left;
background: black; 
min-height: 500px;
height: 500px;
/*height: auto;*/
width: 710px;
}

  #pane4 {
    height: 78%;
    overflow: auto;
    width: 700px; 
    color: white;
  }

  #pane4 img {
    margin: auto auto 15px 10px;
  }

   #pane3 {
    height: auto;
    overflow: auto;
    width: 700px; 
    color: white;
  }
    #pane3 img {
    margin: auto auto 5px 15px;
  }
   #pane3 p {
    margin: 20px 35px auto 10px;
    text-align: justify;
  }
     #pane3 h1 {
    text-align: center;
    font-size: 1.5em;
  }

.col2 { 
position: relative;
float: right;
background: black;
width: 285px;
min-height: 500px; 
}

* html .main { 
height: 100%; 
}
.hFooter { 
height: 55px;
}
.footer { 
background: black;
color: #fff;
height: 60px;
width: 1000px;
margin: -60px auto auto auto;
}

.menu {
margin: auto auto auto 40px;
position: relative;
width: 1000px;
height: 20px;
}

.menu-bar {text-align: center;}
  
.menu-bar ul {
  color: #7b96b4;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Verdana", "Arial", "Helvetica sans-serif";
}

.menu-bar li {
  display: inline;
  float: left;
}

.menu-bar li a {
  margin: 15px;
  color: #7b96b4;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Verdana", "Arial", "Helvetica sans-serif";
}
.menu-bar li a:hover{
    color: #ffffff; 
  }


.hline{
  position: relative;
  width: 1000px;
  height: 15px;
  background: #ff5205;
  background-repeat: repeat-x;
 }

.f { 
margin: auto;
position: relative;
background: black;
width: 1000px;
height: 25px;
font-size: 8pt;
font-family: "Verdana", "Arial", "Helvetica sans-serif";
text-align: center;
/*color: #ffffff;*/
color: #434a4f;
}

.f a{color: #ffffff; text-decoration: none;}

.f a:hover, a:focus{
  color: #f16623;
}