* {margin: 0; padding: 0;} 
body {
background: black;
}
html,body {
height: 100%; 
}
.main { 
background: black; 
min-height: 100%; 
width: 1000px;
margin: auto;
}

.lang-bar { 
width: 1000px;
height: 15px;
}

.lang-content { 
margin: auto;
height: 15px;
float: right;
}

.header { 
margin: auto auto 10px auto;
background: black; 
width: 1000px;
height: 60px;
}

.col1 { 
position: relative;
float:left;
background: black; 
min-height: 300px;
width: 710px;
/*border: 1px solid white;*/
}

  #pane4 {
    height: 78%;
    overflow: auto;
    width: 710px; 
    color: white;
  }

  #pane4 img {
    margin: auto auto 15px 25px;
  }

   #pane3 {
    height: 78%;
    overflow: auto;
    width: 690px; 
    color: white;
  }
    #pane3 img {
    margin: auto auto 5px 15px;
  }
   #pane3 p {
    margin: 20px 35px auto 10px;
  }
     #pane3 h3 {
    text-align: center;
  }

.col2 { 
position: relative;
float: right;
background: black;
width: 280px;
min-height: 280px;
}

.col2 img {
  float: right;
  position: relative;
  z-index: 1;
}

* html .main { 
height: 100%; 
}
.hFooter { 
z-index: 999;
height: 60px;
}
.footer {
  z-index: 999;
position: relative;
background: black;
color: #fff;
height: 60px;
width: 1000px;
margin: -60px auto auto auto;
}

.menu {
position: relative;
z-index: 999;
width: 1000px;
height: 30px;
}

.menu-bar {  z-index: 9999;text-align: center;}
  
.menu-bar ul {
  color: #7b96b4;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Verdana", "Arial", "Helvetica sans-serif";
}

.menu-bar li {
  display: inline;
}

.menu-bar li a {
  margin: 15px;
  color: #7b96b4;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Verdana", "Arial", "Helvetica sans-serif";
}
.menu-bar li a:hover{
    color: #ffffff; 
  }


.hline{
    z-index: 999;
  position: relative;
  width: 1000px;
  height: 15px;
  background: #ff5205;
  background-repeat: repeat-x;
 }

.f { 
    z-index: 999;
margin: auto 40px auto 40px;
position: relative;
background: black;
width: 1000px;
height: 15px;
font-size: 8pt;
font-family: "Verdana", "Arial", "Helvetica sans-serif";
text-align: center;
color: #434a4f;
}

.f a{color: #ffffff; text-decoration: none;}

.f a:hover, a:focus{
  color: #f16623;
}